{% extends "template.html" %} {% block title %}Scan Voucher{% endblock %} {%
block head %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
  integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<style>
  #qr-reader {
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: relative;
    z-index: 1;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10; /* Increased z-index to ensure modal is above other elements */
  }

  .modal-content {
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    max-width: 90%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal.okay .modal-content {
    background-color: #d4edda;
    color: #155724;
  }

  .modal.already-used .modal-content {
    background-color: #fff3cd;
    color: #856404;
  }

  .modal.invalid .modal-content {
    background-color: #f8d7da;
    color: #721c24;
  }

  #continue-scanning,
  #use-voucher,
  #go-back {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
  }

  #continue-scanning:hover,
  #use-voucher:hover,
  #go-back:hover {
    background-color: #0056b3;
  }

  #owner-pfp {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-bottom: 1em;
    cursor: pointer;
  }

  #enlarged-pfp {
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
  }
</style>
{% endblock %} {% block content %}
<div class="w-full max-w-md p-8 bg-white shadow-lg rounded-lg">
  <h2 class="text-3xl font-bold mb-4 text-center">
    Admin - Scan Drink Voucher
  </h2>
  <div class="mt-6 text-center">
    <a href="/admin/vouchers" class="text-indigo-500 hover:text-indigo-600"
      >Back to Manage Vouchers</a
    >
  </div>
  <br />
  <div id="qr-reader" class="mb-4"></div>
  <div id="qr-result" class="text-lg font-semibold"></div>
</div>

<div id="qr-modal" class="modal">
  <div class="modal-content">
    <div id="modal-message" class="text-lg font-semibold mb-4"></div>
    <div id="owner-info" class="text-center">
      <img
        id="owner-pfp"
        src=""
        alt="Profile Picture"
        onclick="openEnlargedModal()"
      />
      <p id="owner-username" class="text-lg font-semibold"></p>
    </div>
    <button
      id="use-voucher"
      class="bg-green-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-600 transition duration-300"
      onclick="useVoucher()"
    >
      Use Voucher
    </button>
    <button
      id="go-back"
      class="bg-gray-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-gray-600 transition duration-300"
      onclick="goBack()"
    >
      Go Back
    </button>
    <button
      id="continue-scanning"
      class="mt-4 bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300"
      onclick="continueScanning()"
      style="display: none"
    >
      Continue Scanning
    </button>
  </div>
</div>

<div id="enlarged-modal" class="modal" onclick="closeEnlargedModal()">
  <div class="modal-content">
    <img id="enlarged-pfp" src="" alt="Enlarged Profile Picture" />
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  let html5QrCode = new Html5Qrcode("qr-reader");
  let currentUuid = "";

  function onScanSuccess(decodedText, decodedResult) {
    console.log(`Scan result: ${decodedText}`, decodedResult);
    html5QrCode.pause(); // Pause scanning
    currentUuid = decodedText;
    validateQRCode(decodedText);
  }

  function onScanFailure(error) {
    console.warn(`Scan error: ${error}`);
  }

  function validateQRCode(uuid) {
    $.ajax({
      url: "/api/admin/drinks/validate",
      method: "POST",
      contentType: "application/json",
      data: JSON.stringify({ uuid: uuid }),
      success: function (data) {
        displayResult(data.status, data.user);
      },
    });
  }

  function displayResult(status, user) {
    const $modal = $("#qr-modal");
    const $messageElement = $("#modal-message");
    const $ownerUsername = $("#owner-username");
    const $ownerPfp = $("#owner-pfp");
    const $useVoucherBtn = $("#use-voucher");
    const $goBackBtn = $("#go-back");
    const $continueScanningBtn = $("#continue-scanning");

    $modal.attr("class", `modal ${status}`); // Set the class name to the status
    $messageElement.text(status.replace("-", " ").toUpperCase());

    if (status === "okay" || status === "already used") {
      $ownerUsername.text(user.username);
      $ownerPfp.attr(
        "src",
        user.pfp
          ? `/static/profiles/${user.pfp}`
          : `https://ui-avatars.com/api/?name=${user.username}`
      );
      if (status === "okay") {
        $useVoucherBtn.show();
        $goBackBtn.show();
        $continueScanningBtn.hide();
      } else {
        $useVoucherBtn.hide();
        $goBackBtn.hide();
        $continueScanningBtn.show();
      }
    } else {
      $ownerUsername.text("");
      $ownerPfp.attr("src", "");
      $useVoucherBtn.hide();
      $goBackBtn.hide();
      $continueScanningBtn.show();
    }

    $modal.css("display", "flex"); // Show the modal
  }

  function useVoucher() {
    $.ajax({
      url: `/api/admin/vouchers/status/${currentUuid}/use`,
      method: "PATCH",
      success: function (data) {
        if ("ok" in data && data.ok) {
          toastr.success("Voucher marked as used", "Success");
          $("#qr-modal").css("display", "none"); // Hide the modal
          html5QrCode.resume(); // Resume scanning
        } else {
          console.error("An unexpected error occurred: ", data);
          toastr.error("An unexpected error occurred", "Error");
        }
      },
      error: function (error) {
        response = error.responseJSON;

        if ("ok" in response && !response.ok && "error" in response) {
          console.error("Failed to mark voucher: ", response.error);
          toastr.error(response.error, "Error");
        } else {
          console.error("Failed to mark voucher: ", error);
          toastr.error("Failed to mark voucher", "Error");
        }
      },
    });
  }

  function goBack() {
    continueScanning();
  }

  function continueScanning() {
    $("#qr-modal").css("display", "none"); // Hide the modal
    html5QrCode.resume(); // Resume scanning
  }

  function openEnlargedModal() {
    const $enlargedModal = $("#enlarged-modal");
    const $ownerPfp = $("#owner-pfp");
    const $enlargedPfp = $("#enlarged-pfp");

    $enlargedPfp.attr("src", $ownerPfp.attr("src"));
    $enlargedModal.css("display", "flex");
  }

  function closeEnlargedModal() {
    $("#enlarged-modal").css("display", "none");
  }

  html5QrCode.start(
    { facingMode: "environment" }, // camera config
    {
      fps: 10, // frames per second
      qrbox: { width: 250, height: 250 }, // scanning box size
    },
    onScanSuccess,
    onScanFailure
  );
</script>
{% endblock %}
