{% extends "template.html" %} {% block title %}Scan Voucher{% endblock %} {%
block head %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
  integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<link rel="stylesheet" href="/static/css/admin/scan_drinks.css" />
{% endblock %} {% block content %}
<div class="w-full max-w-md p-8 bg-white shadow-lg rounded-lg">
  <h2 class="text-3xl font-bold mb-4 text-center">
    Admin - Scan Drink Voucher
  </h2>
  <div class="mt-6 text-center">
    <a href="/admin/vouchers" class="text-indigo-500 hover:text-indigo-600"
      >Back to Manage Vouchers</a
    >
  </div>
  <br />
  <div id="qr-reader" class="mb-4"></div>
  <div id="qr-result" class="text-lg font-semibold"></div>
</div>

<div id="qr-modal" class="modal">
  <div class="modal-content">
    <div id="modal-message" class="text-lg font-semibold mb-4"></div>
    <div id="owner-info" class="text-center">
      <img
        id="owner-pfp"
        src=""
        alt="Profile Picture"
        onclick="openEnlargedModal()"
      />
      <p id="owner-username" class="text-lg font-semibold"></p>
    </div>
    <button
      id="use-voucher"
      class="bg-green-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-600 transition duration-300"
      onclick="useVoucher()"
    >
      Use Voucher
    </button>
    <button
      id="go-back"
      class="bg-gray-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-gray-600 transition duration-300"
      onclick="goBack()"
    >
      Go Back
    </button>
    <button
      id="continue-scanning"
      class="mt-4 bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300"
      onclick="continueScanning()"
      style="display: none"
    >
      Continue Scanning
    </button>
  </div>
</div>

<div id="enlarged-modal" class="modal" onclick="closeEnlargedModal()">
  <div class="modal-content">
    <img id="enlarged-pfp" src="" alt="Enlarged Profile Picture" />
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/js/admin/scan_drinks.js"></script>
{% endblock %}
