{% extends "template.html" %} {% block title %}Redeem Your Drinks{% endblock %}
{% block head %}
<style>
  .gradient {
    background: linear-gradient(135deg, var(--color1), var(--color2));
  }
</style>
{% endblock %} {% block content %}
<div class="w-full max-w-4xl p-8 bg-white shadow-lg rounded-lg">
  <h2 id="welcome-message" class="text-3xl font-bold mb-4 text-center"></h2>
  <div class="mt-6 text-center">
    <a href="/" class="text-indigo-500 hover:text-indigo-600 mr-4"
      >Back to Dashboard</a
    >
  </div>
  <br />
  <p class="text-lg text-gray-700 mb-6 text-center">
    Below are your available drink vouchers. Click on the card to see a larger
    version.
  </p>
  <div
    id="vouchers-container"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
  ></div>
</div>

<!-- Modal -->
<div
  id="voucherModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
  onclick="closeModal(event)"
>
  <div
    id="modalContent"
    class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg relative"
    onclick="event.stopPropagation()"
  >
    <button
      type="button"
      id="closeModalButton"
      class="absolute top-2 right-2 bg-red-500 text-white font-semibold py-1 px-2 rounded-md hover:bg-red-600 transition duration-300"
      onclick="closeModal()"
    >
      X
    </button>
    <h3 class="text-2xl font-bold mb-4 text-white">Drink Voucher</h3>
    <img id="voucherImage" src="" alt="QR Code" class="mb-4 w-full" />
    <p id="voucherId" class="text-gray-200 mb-2"></p>
    <p class="text-gray-300 text-sm" id="voucherStatus"></p>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  function generateRandomColor() {
    const letters = "0123456789ABCDEF";
    let color = "#";
    for (let i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }

  function fetchData() {
    $.ajax({
      url: "/api/whoami",
      method: "GET",
      success: function (data) {
        if (data.ok) {
          updatePage(data);
        } else {
          console.error("Error fetching data: ", data);
        }
      },
      error: function (error) {
        console.error("Error fetching data: ", error);
      },
    });
  }

  function updatePage(data) {
    let capsUsername =
      data.username.charAt(0).toUpperCase() + data.username.slice(1);
    $("#welcome-message").text(`Hello, ${capsUsername}! Redeem Your Drinks`);

    const vouchersContainer = $("#vouchers-container");
    vouchersContainer.empty();

    data.drinks.forEach((drink) => {
      let color1, color2;
      const storedColors = localStorage.getItem(`voucher-${drink.uuid}`);

      if (storedColors) {
        [color1, color2] = storedColors.split(",");
      } else {
        color1 = generateRandomColor();
        color2 = generateRandomColor();
        localStorage.setItem(`voucher-${drink.uuid}`, `${color1},${color2}`);
      }

      const drinkCard = `
        <div
          class="p-6 shadow-md rounded-md gradient cursor-pointer ${
            drink.used ? "opacity-50" : ""
          }"
          style="--color1: ${color1}; --color2: ${color2}"
          onclick="openModal(this, '${drink.uuid}', ${drink.used})"
          data-uuid="${drink.uuid}"
        >
          <h3 class="text-xl font-bold mb-4 text-white">Drink Voucher</h3>
          <img
            src="https://api.zachlagden.uk/images/qr?data=${
              drink.uuid
            }&filetype=PNG&size=8&error_correction=H"
            alt="QR Code"
            class="mb-4 w-full ${drink.used ? "hidden" : ""}"
          />
          <p class="text-white mb-2">Voucher ID: ${drink.uuid}</p>
          <p class="text-white text-sm">
            ${
              drink.used
                ? "This voucher has already been used."
                : "Scan this QR code at the bar to redeem your drink."
            }
          </p>
        </div>
      `;
      vouchersContainer.append(drinkCard);
    });

    $(".gradient").each(function () {
      const element = $(this);
      const color1 = element.css("--color1");
      const color2 = element.css("--color2");
      element.css(
        "background",
        `linear-gradient(135deg, ${color1}, ${color2})`
      );
    });
  }

  function openModal(element, uuid, used) {
    const color1 = $(element).css("--color1");
    const color2 = $(element).css("--color2");

    const modalContent = $("#modalContent");
    modalContent.css("--color1", color1);
    modalContent.css("--color2", color2);
    modalContent.addClass("gradient");

    const voucherImage = $("#voucherImage");
    if (used) {
      voucherImage.addClass("hidden");
    } else {
      voucherImage.removeClass("hidden");
      voucherImage.attr(
        "src",
        `https://api.zachlagden.uk/images/qr?data=${uuid}&filetype=PNG&size=16&error_correction=H`
      );
    }
    $("#voucherId").text(`Voucher ID: ${uuid}`);
    $("#voucherStatus").text(
      used
        ? "This voucher has already been used."
        : "Scan this QR code at the bar to redeem your drink."
    );
    $("#voucherModal").removeClass("hidden");
  }

  function closeModal(event) {
    if (event) {
      event.stopPropagation();
    }
    $("#voucherModal").addClass("hidden");
    $("#modalContent").removeClass("gradient");
  }

  $(document).ready(function () {
    fetchData();
    setInterval(fetchData, 5000);
  });
</script>
{% endblock %}
